{{#news}}
<h1 class="b-page-title">{{title}}</h1>
<p><i>{{date}}</i></p>
{{#brief_text}}<p>{{brief_text}}</p>{{/brief_text}}
{{#image}}<img src="{{image}}" />{{/image}}
{{#full_text}}{{full_text}}{{/full_text}}

{{/news}}